body{
	background-color: white;
}

a:link, a:visited{
	color: rgba(212, 152, 186, 1);
	text-decoration: none;
	}
a:hover {
	color: rgba(198, 153, 212, 1);
	text-decoration: underline;
	}

a:active{
	color: rgba(151, 154, 212, 1);
	text-decoration: underline;
	}

.links-menu{
	text-align: left;
	top: 1.5rem;
	display: block;
	position: fixed;
	margin: 1rem;
	z-index: 100;
	font-size: 12px;
	width: 14rem;
}

.page-name{
	text-align: left;
	top: 0;
	display: block;
	position: fixed;
	margin: 1rem;
	z-index: 1000;
	font-size: 18px;
	color: black;
	font-weight: bold;
	width: 14rem;
}

.image-object{
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, 0%);
	padding-top: 2rem;
	padding-left: 2rem;
	height: auto;
	max-width: 75%;
	object-fit: cover;
	box-sizing: border-box;
}

.highlight{
	color: rgba(151, 154, 212, 1);
	text-decoration: underline;
}

.section-head{
	font-size: 15px;
	color: black;
}

@media (max-width: 480px){
	.image-object{
		z-index: 0;
		opacity: 50%;
	}